<h1>Your Restaurants</h1>

<table class="table">
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>Phone Number</th>
    <th>Food Type</th>
    <th>Logo</th>
    <th colspan="2"></th>
  </tr>

  <% @restaurants.each do |r| %>
    <tr>
      <td><%= r.name %></td>
      <td><%= r.address %></td>
      <td><%= r.phone_number %></td>
      <td><%= r.food_type %></td>
      <td><%= image_tag r.photo.url(:thumb) %></td>
      <td><%= link_to 'View', restaurant_path(r.id), class: "btn btn-primary" %></td>
      <td><%= link_to 'Edit', edit_restaurant_path(r.id), class: "btn btn-primary" %></td>
    </tr>
  <% end %>
</table>

<% if current_owner.present? %>
  <p>
    <%= link_to 'Create New Restaurant', new_restaurant_path, class: "btn btn-primary" %>
  </p>
<% end %>
