<h1>Reservation # <%= @reservation.id %></h1>

<table class="table">
  <tr>
    <th>Guest Name</th>
    <th>Event Date</th>
    <th>Event Time</th>
    <th>Guest's Note</th>
  </tr>

  <tr>
    <td><%= @reservation.guest_name %></td>
    <td><%= @reservation.event_on %></td>
    <td><%= @reservation.event_time %></td>
    <td><%= @reservation.notes %></td>
  </tr>
</table>

<p>
  <%= link_to 'View All Reservations', restaurant_reservations_path, class: "btn btn-primary" %>
</p>
