<h1>Restaurant #<%= @restaurant.id %></h1>

<table>
  <tr>
    <th>Name</th>
    <th>Owner<th>
    <th>Address</th>
    <th>Phone Number</th>
    <th>Food Type</th>
    <th>Logo</th>
    <th>Location</th>
  </tr>

  <tr>
    <td><%= @restaurant.name %></td>
    <td><%= @restaurant.owner.name %></td>
    <td><%= @restaurant.address %></td>
    <td><%= @restaurant.phone_number %></td>
    <td><%= @restaurant.food_type %></td>
    <td><%= image_tag @restaurant.photo.url(:medium) %></td>
    <td><%= image_tag @restaurant.google_map(center: @restaurant.address) %></td>
    <td><%= link_to "View reservations", restaurant_reservations_path(@restaurant) %></td>
</table>

<p>
  <%= link_to 'Back', restaurants_path %>
</p>
