<!DOCTYPE html>
<html>
  <head>
    <title>Reservester</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |name, msg| %>
      <%= content_tag(:div, msg, class: "alert alert-info") %>
    <% end %>

    <div class='login-out'>
      <% if owner_signed_in? %>
        <%= link_to 'Log Out', destroy_owner_session_path, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% else %>
        <%= link_to 'Log In', new_owner_session_path %> | <%= link_to 'Sign Up', new_owner_registration_path %>
      <% end %>
    </div>

    <%= yield %>
  </body>
</html>
